 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: white;
    color: black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    color: white;
}
img {
    max-width: 25%;
    border: 1px solid black;
}
address {
    font-style: normal;
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
}

.main-menu {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    background: black;
    color: #FFF;
    height: 100px;
    padding: 1em;
}

.main-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-nav > li {
    margin: 0 1 rem;
    overflow: hidden; 
}

.menu-icon {
    height: 100%;
    width: 100px;
    cursor: pointer;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

#menu-btn {
    display: none;
}

.menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.navicon, 
.navicon::before,
.navicon 
.navicon::after {
    background: rgb(247, 246, 246);
    content: "";
    display: block;
    height: 4px;
    width: 30px;
    position: absolute;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.navicon::before {
    content: '';
    margin-top: -8px;
}

.navicon::after {
    content: '';
    margin-top: 8px;
}

#menu-btn:checked + .menu-icon .navicon::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-btn:checked + .menu-icon .navicon {
    background: rgb(242, 239, 239);
}

#menu-btn:checked + .menu-icon .navicon::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 400px) {
    .menu-icon {
        display: flex;
    }
    .main-nav {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;  
    }
}

#menu-btn ~ .main-nav li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-btn:checked ~ .main-nav li {
    border: 1px solid rgb(14, 12, 12);
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.main-nav > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: blue;
    background-color: blue; 
}

.main-nav > li:not(:last-child) {
    border-bottom: 1px solid rgb(11, 11, 11);
}

label {
    display: block;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.form-input{
    border: 2px solid #ccc; 
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    padding: 1em;
    margin-bottom: 1.5em;
    width: 100%;
}
.form-input:focus {
    outline: none;
    border: 2px solid #261f17;
}

[type="submit"] {
    background: rgb(65, 181, 220);
    color: #261f17;
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: normal;
    border-radius: 4px;
    border: 0;
    padding: .5em;
    cursor: pointer;
}

[type="submit"]:hover,
[type="submit"]::focus {
    background: rgb(65, 181, 220);
}

textarea {
    height: 150px;
    resize: vertical;
}

.error {
    border-color: red;
}
.error-message {
    color: red;
    margin: -1em 0 1.5em;
}

@media screen and (min-width:1065px) {
    form {
        width: 50%;
        margin: 3em auto;
    }
    .footer-column {
        max-width: 300px;
    }
}

@media screen and (min-width: 1205px) {
    .featured-image-container::before {
        position:absolute;
        top: 10%;
        left: -15%;
        width: 100%;
        height: 100%;
    }
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    background: black;
    color: #FFF;
    text-align: center;
}